<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Estadística COVID-19</title>
	<meta charset="UTF-8">
	<meta name="description" content="Cassi Photo Studio HTML Template">
	<meta name="keywords" content="photo, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/elegant-icons.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Header section -->
	<header class="header-section">
		<a href="/" class="site-logo">FRANCO BORSANI
		</a>
	</header>
	<!-- Header section end -->
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item">
				<div class="hero-text">
					<div class="ht-cata">Estadísticas mundiales</div>
					<h2>MÁS DATOS</h2>
					<p>Gráfico con la cantidad de casos y muertes por coronavirus en todo el mundo.</p>
					<a href="#" class="ht-btn">Más datos <i class="arrow_right"></i></a>
				</div>
				
				<!--<div class="hi-bg set-bg" data-setbg="img/slider-1.jpg"></div>-->
				<div class="flourish-embed flourish-table hi-bg set-bg" data-src="story/230195">
			</div>
		</div>
	</section>
	<!-- Hero section end -->
	

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="copyright"><p>
  Fuente: Flourish - Data visualization and storytelling</p></div>
	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://public.flourish.studio/resources/embed.js"></script></div>
	</body>
</html>
